.enter {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease-out;
}

.enterActive {
  max-height: 1000px; /* Adjust this value as necessary */
  opacity: 1;
}

.exit {
  max-height: 1000px; /* Adjust this value as necessary */
  overflow: hidden;
  opacity: 1;
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease-out;
}

.exitActive {
  max-height: 0;
  opacity: 0;
}
